body{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.off {
    background-color: #ff0000;
}
.on {
    background-color: #00f000;
}

.btn {
    display: block;
    min-width: 96%;
    font-size: 16pt;
    text-align: center;
    border: 1px solid #ffffff;
    padding: 5px;
    color: #ffffff;
    background-color: black;
    text-decoration: none;
}

#statusTab {
    margin-top: 30px;
    min-width: 95%;
}

#statusTab .label{
    text-align: right;
    min-width: 95%;

}

#errorTab {
    margin-top: 30px;
    min-width: 95%;
}

#errorTab .label{
    text-align: right;
    min-width: 95%;
}

#tempTab {
    margin-top: 30px;
    min-width: 95%;

}

#tempTab .label{
    text-align: right;
    min-width: 95%;
}

#tempTab .temp{
    text-align: right;
    min-width: 20px;
}

#inputForm .label{
    display: inline-block;
    float: left;
    clear: right;
    width: 84%;
    text-align: right;
}

#inputForm .input {
  display: inline-block;
  float: right;
  width: 15%;
}
